.signup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
