.cart-dropdown {
  position: absolute;
  top: 10rem;
  right: 10rem;
  height: 350px;
  width: 250px;
  padding: 2rem;

  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  z-index: 5;

  &__items {
    height: 300px;
    overflow: scroll;
  }

  &__button {
    margin: auto;
  }
}
