.header {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  &__item {
    margin-left: 2.2rem;

    &--button-style {
      cursor: pointer;
    }
  }
}
